@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto Slab', serif;
}

body{
    background: #000;
    color: #fff;
}

html{
    scroll-behavior: smooth;
}

/*nav*/
nav {
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 1rem;
    z-index: 100;
}

nav img{
    position: relative;
    bottom: 10px;
    height: 60px;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

nav a {
    display: block;
    padding: 20px 50px;
    text-decoration: none;
    letter-spacing: 0.5px;
    color: #fff;
    transition: 0.5s;
}

#info{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-container{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.card {
  position: relative;
  overflow: hidden;
  margin: 10px;
  min-width: 230px;
  max-width: 315px;
  width: 100%;
  color: #ffffff;
  text-align: left;
  line-height: 1.4em;
  background-color: #141414;
}
.card * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
.card img {
  max-width: 100%;
  vertical-align: top;
  opacity: 0.85;
}
.card figcaption {
  width: 100%;
  background-color: #141414;
  padding: 25px;
  position: relative;
}
.card figcaption:before {
  position: absolute;
  content: '';
  bottom: 100%;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 55px 0 0 400px;
  border-color: transparent transparent transparent #141414;
}
.download {
  padding: 5px;
  border: 1px solid #ffffff;
  color: #ffffff;
  font-size: 0.7em;
  text-transform: uppercase;
  margin: 10px 0;
  display: inline-block;
  opacity: 0.65;
  width: 47%;
  text-align: center;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 1px;
}
.download {
  opacity: 1;
}
.card .profile {
  border-radius: 50%;
  position: absolute;
  bottom: 100%;
  left: 25px;
  z-index: 1;
  max-width: 90px;
  opacity: 1;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}
.download {
  margin-right: 4%;
  border-color: #9b60a8;
  color: #9b60a8;
}
.card h2 {
  margin: 0 0 5px;
  font-weight: 300;
}
.card h2 span {
  display: block;
  font-size: 0.5em;
  color: #9b60a8;
}
.card p {
  margin: 0 0 10px;
  font-size: 0.8em;
  letter-spacing: 1px;
  opacity: 0.8;
}

/* Responsive nav */
nav #check{
    display: none;
}

.checkbtn{
    z-index: 4;
    font-size: 40px;
    color: white;
    margin-left: 350px;
    line-height: 80px;
    list-style: none;  
    cursor: pointer;
    display: none;
}
  
.nav img{
        padding-left: 20px;
}

nav ul li a{
        font-size: 16px;
}


  
  
  
@media (max-width: 858px){ 
  
    .checkbtn{
        display: block;
        position: fixed;
    }
  
    nav{
      height: 40px;
    }
    
    ul{
        z-index: 3;
        flex-direction: column;
        position: fixed;
        height:100vh;
        width: 430px;
        background: #8a3ab9;
        left: 0px;
        top: -700px;
        text-align: center;
        transition: .5s ease;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 10px;
    }
    nav ul li a{
        font-size: 20px;
        transform: translateY(-100px);
        transition: .3 ease;
    }
    #check:checked ~ ul a{
      transform: translateY(0);
      transition-delay: calc(.10s * var(--i)) ;
    }
    li a:hover, li a.active{
        background: none;
        color: #9b60a8;
    }
    #check:checked ~ ul{
        top:0;
    }
}

/*Responsive*/
@media (min-width: 330px) and (max-width: 1200px) {
    .card-container{
        flex-wrap: wrap;
      }
      }

